/**************************
 *        GLOBALS         *
 **************************/
body {
  background: white;
  color: #333332;
  font-family: 'Enriqueta', serif;
  font-size: 140%;
  line-height: 1.4;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  color: #333332;
  line-height: 1;
}
h1 { font-size: 40px; margin-top: 10px; }
h2 { font-size: 30px; }
h3 { font-size: 20px; }
h4 { font-size: 15px; }
h5 { font-size: 15px; text-transform: uppercase; }

a:link, a:visited, a:active {
  border-bottom: 1px solid #eb3d00;
  color: #333332;
  text-decoration: none;
}
a:hover {
  color: #eb3d00;
  border-bottom: 1px solid #eb3d00;
  text-decoration: none;
}
#primary a.active, #primary a.active-trail {
  color: #eb3d00;
}

#bio-pic{
  width: 293px;
  height: 293px;
  margin-right: 10px;
}

.content .file .file-icon{
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}

.field-label{
  padding-top: 25px;
}

.field-type-video-embed-field{
	margin-top: 10px;
}

.form-text {
  border-color:#cccccc;
  border-style:solid;
  font-family: 'Enriqueta', serif;
  font-size:16px;
  padding:0px;
  border-width:1px;
  border-radius:3px;
} 

.form-text:focus {
  outline:none;
}

.form-submit {
  -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
  -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
  box-shadow:inset 0px 1px 0px 0px #cf866c;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
  background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
  background-color:#d0451b;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #942911;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #854629;
}
.form-submit:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
  background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
  background-color:#bc3315;
}
.form-submit:active {
  position:relative;
  top:1px;
}


/**************************
 *       CONTAINER        *
 **************************/
.container {
  max-width: 920px;
  margin: 100px auto 0;
  overflow: hidden;
  position: relative;
  left: -110px;
}
.footer {
  background: #333332;
  color: white;
  width: 100%;
  font-size: 80%;
}
.footer a:link, .footer a:visited, .footer a:active {
  color: white;
}
.footer-inner {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.footer .form-item, .footer .form-submit {
  display: inline-block;
}
.footer label{
  float: left;
}
.footer input{
  float: right;
}
.content {
  float: right;
  max-width: 700px;
}
.content img {
  width: 100%;
  height: auto !important;
  margin-bottom: 20px;
}

.block-search{
  float: right;
}

.container .sidebar{
  width: 180px !important;
}

/**************************
 *        ARTICLE         *
 **************************/
.node-article.node-teaser .field-name-field-image{
  float: left;
  width: 25%;
}

.node-article.node-teaser .field-name-body{
  float: right;
  width: 70%;
}

.node-teaser .field-name-body p{
  margin-top: -5px;
}

.node-teaser{
  padding-bottom: 15px;
  clear: both;
}

.node-type-article h1.page-title {
}
.node-type-article h1.post-title {
  margin: 15px 0 5px;
}
.node-type-article .content {
  margin-top: -5px;
}
.node-type-article .field-name-field-subtitle {
  font-size: 28px;
  font-style: italic;
  margin-bottom: 19px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
span.submitted {
  color: #B3B3B1;
  font-size: 16px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
.node-type-article p {
  margin-top: 10px;
  margin-bottom: 25px;
}
blockquote {
  border-left: 10px solid #eb3d00;
  margin-left: 0;
  padding-left: 20px;
  font-style: italic;
}
.gist-meta {
  display: none;
}
#disqus_thread {
  margin-bottom: 20px;
}
.field-name-field-related {
  margin-bottom: 30px;
}

/**************************
 *       BLOG LIST        *
 **************************/
.view .post {
  padding: 50px 0;
  border-bottom: 1px solid #F2F2F0;
}
.view .post:first-child {
  padding-top: 0;
}
.view h3 {
  margin: 0;
}
.view h3 a {
  border: none;
}

/**************************
 *        SIDEBAR         *
 **************************/
.sidebar {
  float: left;
  width: 160px;
  font-size: 56%;
  text-align: right;
}
.sidebar a#logo {
  border: none;
}
.sidebar h1 {
  margin-top: 10px;
  font-size: 20px;
}
.sidebar h1 a {
  border: none;
}
.sidebar p {
  color: #b3b3b1;
  font-size: 14px;
}
.sidebar ul {
  list-style: none;
  clear: both;
  padding-left: 0;
}
.sidebar ul li {
  margin: 5px 0;
}
.sidebar ul li a {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
.sidebar hr {
  border: none;
  border-top: 1px solid #F2F2F0;
  outline: none;
  height: 0;
  width: 40%;
  float: right;
  position: relative;
  padding: 10px 0;
}

/**************************
 *          GIST          *
 **************************/
.gist { font-size: 14px; -webkit-font-smoothing:subpixel-antialiased; }
.gist ::-moz-selection {color:#FCF4DC;background:#fff;}
.gist ::-webkit-selection {color:#FCF4DC;background:#fff;}
.gist ::selection {color:#FCF4DC;background:#fff;}
.gist {color:#819090 !important;}
.gist table { width: 100%; }
.gist .gist-file {border: none !important;font-family:'Anonymous Pro','Droid Sans Mono','DejaVu Sans Mono',Monaco,Consolas,'Lucida Console',Courier,monospace !important;}
.gist .gist-file .gist-meta {color:#475B62 !important;background-color:#042029 !important;}
.gist .gist-file .gist-meta a {color: #EAE3CB !important;}
.gist .gist-file .gist-meta a {color: #819090 !important;}
.gist .gist-file .gist-data { border: none !important; background-color: #002b36 !important; }
.gist .gist-file .gist-data .line-data {background-color:#0A2933 !important;}
.gist .gist-file .gist-data pre {font-family:'Anonymous Pro','Droid Sans Mono','DejaVu Sans Mono',Monaco,Consolas,'Lucida Console',Courier,monospace !important;}
.gist .gist-file .gist-data .line-numbers {color:#475B62 !important;border-right:1px solid #042029 !important;background-color:#042029 !important;}
.gist-syntax {/* background:#708284 !important; */}
.gist-syntax .c {color:#536870 !important;} /* Comment */
.gist-syntax .err {color:#708284 !important;} /* Error */
.gist-syntax .k {color:#2176C7 !important;} /* Keyword */
.gist-syntax .o {color:#708284 !important;} /* Operator */
.gist-syntax .cm {color:#536870 !important;} /* Comment.Multiline */
.gist-syntax .cp {color:#536870 !important;} /* Comment.Preproc */
.gist-syntax .c1 {color:#536870 !important;} /* Comment.Single */
.gist-syntax .cs {color:#536870 !important;} /* Comment.Special */
.gist-syntax .gd {color:#708284 !important;background:#042029 !important;} /* Generic.Deleted */
.gist-syntax .gd .x {color:#708284 !important;background:#042029 !important;} /* Generic.Deleted.Specific */
.gist-syntax .ge {color:#708284 !important;} /* Generic.Emph */
.gist-syntax .gr {color:#708284 !important;} /* Generic.Error */
.gist-syntax .gh {color:#708284 !important;} /* Generic.Heading */
.gist-syntax .gi {color:#708284 !important;background:#042029 !important;} /* Generic.Inserted */
.gist-syntax .gi .x {color:#708284 !important;background:#042029 !important;} /* Generic.Inserted.Specific */
.gist-syntax .go {color:#708284 !important;} /* Generic.Output */
.gist-syntax .gp {color:#708284 !important;} /* Generic.Prompt */
.gist-syntax .gu {color:#708284 !important;} /* Generic.Subheading */
.gist-syntax .gt {color:#708284 !important;} /* Generic.Traceback */
.gist-syntax .kc {color:#738A05 !important;} /* Keyword.Constant */
.gist-syntax .kd {color:#738A05 !important;} /* Keyword.Declaration */
.gist-syntax .kp {color:#708284 !important;} /* Keyword.Pseudo */
.gist-syntax .kr {color:#708284 !important;} /* Keyword.Reserved */
.gist-syntax .kt {color:#708284 !important;} /* Keyword.Type */
.gist-syntax .m {color:#259286 !important;} /* Literal.Number */
.gist-syntax .s {color:#259286 !important;} /* Literal.String */
.gist-syntax .na {color:#536870 !important;} /* Name.Attribute */
.gist-syntax .nb {color:#A57706 !important;} /* Name.Builtin */
.gist-syntax .nc {color:#708284 !important;} /* Name.Class */
.gist-syntax .nd {color:#595AB7 !important;} /* */
.gist-syntax .no {color:#708284 !important;} /* Name.Constant */
.gist-syntax .ni {color:#708284 !important;} /* Name.Entity */
.gist-syntax .ne {color:#708284 !important;} /* Name.Exception */
.gist-syntax .nf {color:#708284 !important;} /* Name.Function */
.gist-syntax .nn {color:#708284 !important;} /* Name.Namespace */
.gist-syntax .nt {color:#2176C7 !important;} /* Name.Tag */
.gist-syntax .nv {color:#708284 !important;} /* Name.Variable */
.gist-syntax .ow {color:#708284 !important;} /* Operator.Word */
.gist-syntax .w {color:#708284 !important;} /* Text.Whitespace */
.gist-syntax .mf {color:#259286 !important;} /* Literal.Number.Float */
.gist-syntax .mh {color:#259286 !important;} /* Literal.Number.Hex */
.gist-syntax .mi {color:#259286 !important;} /* Literal.Number.Integer */
.gist-syntax .mo {color:#259286 !important;} /* Literal.Number.Oct */
.gist-syntax .sb {color:#259286 !important;} /* Literal.String.Backtick */
.gist-syntax .sc {color:#259286 !important;} /* Literal.String.Char */
.gist-syntax .sd {color:#259286 !important;} /* Literal.String.Doc */
.gist-syntax .s2 {color:#259286 !important;} /* Literal.String.Double */
.gist-syntax .se {color:#259286 !important;} /* Literal.String.Escape */
.gist-syntax .sh {color:#259286 !important;} /* Literal.String.Heredoc */
.gist-syntax .si {color:#259286 !important;} /* Literal.String.Interpol */
.gist-syntax .sx {color:#A57706 !important;} /* Literal.String.Other */
.gist-syntax .sr {color:#259286 !important;} /* Literal.String.Regex */
.gist-syntax .s1 {color:#259286 !important;} /* Literal.String.Single */
.gist-syntax .ss {color:#259286 !important;} /* Literal.String.Symbol */
.gist-syntax .bp {color:#708284 !important;} /* Name.Builtin.Pseudo */
.gist-syntax .vc {color:#708284 !important;} /* Name.Variable.Class */
.gist-syntax .vg {color:#708284 !important;} /* Name.Variable.Global */
.gist-syntax .vi {color:#708284 !important;} /* Name.Variable.Instance */
.gist-syntax .il {color:#708284 !important;} /* Literal.Number.Integer.Long */
.gist-data::-webkit-scrollbar {
    height:.5em;
    background:rgba(255,255,255,0.15);
}

.gist-data::-webkit-scrollbar-thumb:horizontal {
    background:rgba(255,255,255,0.2);
    -webkit-border-radius:4px;
    border-radius:4px
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .container, .footer-inner {
    max-width: 85%;
    left: 0;
  }
  .sidebar {
    max-width: 17%;
  }
  .content {
    max-width: 75%;
  }
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  .block-search{
    float: none;
  }

  #site-name{
    width: 700px;
    display: block;
    clear: both;
  }

  .sidebar, .content {
    width: 100%;
    float: none;
  }
  .sidebar {
    text-align: left;
    margin-bottom: 30px;
  }
  .sidebar hr {
    display: none;
  }
  .sidebar a#logo {
    float: left;
    margin-right: 20px;
  }
  .sidebar ul {
    display: none;
  }
  .container {
    max-width: 90%;
    margin-top: 40px;
    left: 0;
  }
  body {
    font-size: 120%;
  }
  .footer-inner {
    max-width: 90%;
  }
}
